{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Ecoponto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="{% static 'img/Ecoponto.png' %}" alt="Logo Ecoponto" class="logo">
            <p class="slogan">  Descarte Correto...<br> AQUI!</p>
        </div>
        <div class="right">
            <div class="login-box">
                <h2>LOGIN</h2>
                
                <form method="post">
                    {% csrf_token %}
                    
                    <label for="id_username">Usuário</label>
                    <div class="input-group"> <!-- Ícone do user -->
                        <i class="fa-solid fa-user user-icon"></i>
                        <input type="text" name="username" id="id_username" placeholder="Digite seu usuário" required>
                    </div>
                    
                    <label for="id_password">Senha</label>
                    <div class="input-group">
                        <i class="fa-solid fa-lock user-icon"></i> <!-- Ícone do cadeado -->
                        <input type="password" name="password" id="id_password" placeholder="Digite sua senha" required>
                        <i class="fa-solid fa-eye toggle-password" onclick="togglePassword()"></i> <!-- Ícone do olho -->
                    </div>
                    
                    
                    <button type="submit" class="btn-login">Entrar</button>
                    <a href="#" class="forgot-password">Esqueci minha senha</a>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        function togglePassword() {
    var passwordField = document.getElementById("id_password");
    var icon = document.querySelector(".toggle-password");
    
    if (passwordField.type === "password") {
        passwordField.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
    } else {
        passwordField.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    }
}

    </script>
</body>
</html>
