{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pontos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pontos.css' %}">
</head>
<body>
    <p>Cadastro de pontos de Coleta: </p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_ponto.as_p }}
    <p><input type="submit" value="cadastrar"/></p>
    </form>
</body>
</html>