{% extends 'base.html' %}
{% load static %}
{% block content%}
<p><a href="{% url 'index' %}" class="buttonVoltar">Voltar</a></p>
<div class="conteudo">

    <h2>Listagem de pontos:</h2>

        {% for ponto in todos_pontos %}
        <div class="pontos">
        <div class="ponto">
            <div class="imagem">
                {% if ponto.imagem %}
                <p> <img src="{{ ponto.imagem.url }}" alt="Imagem do ponto de coleta" width="300" height="200"></p>
                {% endif %}
            </div>
            <div class="info">
                <p>Tipo:{{ponto.tipo}}</p>
                <p>Descrição:{{ponto.descricao}}</p>
            </div>
            <div class="funcionalidades">
                
            {% if user.is_superuser %}
                <p><a href="{% url 'ponto_excluir' ponto.id %}" class="botaofunci botao-excluir">Excluir</a></p>
                <p><a href="{% url 'ponto_cadastrar' %}" class="botaofunci botao-cadastrar">Cadastrar ponto de coleta</a></p>
                <p><a href="{% url 'editar_ponto' ponto.id%}" class="botaofunci botao-editar"> Editar ponto de coleta</a></p>
            {% endif %}
            <hr>
            </div>
            {% empty%}
            <p>sem pontos cadastrados </p>
            {% endfor %}
        </div>
    </div>
  

</div>
{% endblock %}
